.DS_Store
node_modules/
npm-debug.log
.module-cache/
/coverage/
/public/
/Procfile
/.env
__*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
