/.kumo
.DS_Store
npm-debug.log
yarn-error.log
__*
!__*__
node_modules

# IntelliJ
# See https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems
*.iws
/.idea/
*.iml

# IntelliJ generates these for Scala projects
/project
/target

# Visual Studio Code
/.vscode
