/.kumo
.DS_Store
npm-debug.log
yarn-error.log
__*
node_modules

# IntelliJ
# See https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems
*.iws
/.idea/libraries
/.idea/workspace.xml
/.idea/tasks.xml

# Visual Studio Code
/.vscode
