p {
  font-size: 1.3em;
}

.doneform {
  display: -webkit-flex;
  display: flex;
}
.doneform > .form-group {
  -webkit-flex;
  flex: 1;
  display: block;
  margin-bottom: 0;
  vertical-align: middle;
}
.doneform > .form-group > input {
  width: 100%;
}
.doneform > button {
  margin-left: .3em;
}

.donelist {
  margin-top: 3.5em;
}
.donelist__title {
  margin-bottom: .7em;
  border-bottom: 1px solid #eee;
}

.doneitem {
  margin-bottom: 15px;
}
.doneitem__done-thing > p {
  line-height: 1.6em;
  margin-bottom: .3em;
}
.doneitem__time {
  color: lightgray;
}
