option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: "6.9.1"
    NodeCommand: "npm start"
  aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:us-east-1:650892143834:certificate/00cb96a1-2a06-4216-a30d-e810f2a6e6a8
    ListenerProtocol: HTTPS
    InstancePort: 80
  aws:elb:listener:80:
    ListenerEnabled: false
